body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(205, 184, 234);
}
.pole
{
    border: 2px solid black;
    height: 60vh;
    width: 15vw;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(196, 249, 228);
}
.light
{
    border: 1px solid rgb(12, 10, 10);
    height: 80px;
    width: 80px;
    border-radius: 100px;
    background-color: black;
}
#red:hover{
    background-color: red;
}
#orange:hover{
    background-color: rgb(233, 133, 19);
}
#green:hover{
    background-color: green;
}